#topbar
{
background-color:black;
width:100%;
height:30px;
}

#header
{
background-color:red;
height:10%;
padding:1px;
text-align:center;
}
body
{
background-image:url(tailor.jpg);
background-size:100%;
background-repeat:no-repeat;
}
lable
{
color:white;
}
.name
{
padding:4px;
margin-left:5%;
}
.address
{
padding:4px;
margin-left:90px;
}
.number
{
padding:4px;
margin-left:8%;
}
.ss
{
padding:4px;
margin-left:6%;
}
.shs
{
padding:4px;
margin-left:4%;
}
.hs
{
padding:4px;
margin-left:6%;
}
.bs
{
padding:4px;
margin-left:6%;
}
.fh
{
padding:4px;
margin-left:2px;
}
.pl
{
padding:4px;
margin-left:4%;
}
.hip
{
padding:4px;
margin-left:100px;
}
.button
{
padding:10px;
width:9%;
border-radius:20px;
margin-left:300px;
}
.em
{
    margin-left: 110px;
    padding: 3px;
}
.tail
{
   margin-left: 103px;
   padding: 3px;
}
.ct
{
margin-left: 65px;
padding: 3px;
}
.yi
{
    margin-left: 80px;
    padding: 19px;
    width: 11%;
}


#foot
{
    text-align: center;
    font-size: xx-large;
    color:yellow;
}
#part1
{
    background-color: black;
    width: 50%;
    height: 200px;
    float:left;
}
#footer p{
    color: aliceblue;
    margin-left: 12%;
    padding-top: 2%;
}
#part2
{
    background-color:black;
    width: 50%;
    height: 200px;
    float: right;
}